NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=Io6sYoL/cfozOjIC6qKYrxE330ixFOvYARD7rSDemio=

# Google OAuth
GOOGLE_CLIENT_ID=243769096449-aoadj025a3mr558fon9b6h2702g7e0j1.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
